<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.coretech.safefolder.safefolder" >

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens android:smallScreens="true"/>
    <supports-screens android:normalScreens="true"/>
    <supports-screens android:anyDensity="true"/>
    <supports-screens android:resizeable="true" android:anyDensity="true"/>

    <application
        android:name="SafeFolder"
        android:allowBackup="true"
        android:icon="@drawable/safefolder"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:enabled="true" >
        <activity
            android:name=".LaunchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EncryptActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DecryptActivity"
            android:label="@string/title_activity_decrypt" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
